footer{
    display: flex;
    background-color: #302782;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    bottom: 0;
    position: fixed;
    z-index: 100;
    height: 100px;
}

.map{
    border: none;
    
}
.dados{
display: flex;
justify-content: left;
bottom: 0;
color: azure;
justify-content: space-between;
}
.footer .mapa-responsive{
    left:0;
    top:0;
    height:100px;
    width:100%;
    position:absolute;
}

.mascote img{
    height:160px;
}

.instagram img{
    display: flex;
    height: 40px;
    border-right: 0;
    padding-top: 20%;
}

.dados p {
    text-indent: 2em;
    text-align: justify;
    padding-top: 5%;
}

.whatsapp img{
    display: flex;
    width: 10px;
    height:10px;
    padding-top: 70%;}