/* COmentário */

.productDetailContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.productDetailImage{
    width: 700px;
}

.similarProductsContainer{

}

.similarProductsImageContainer{
    
}