@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: 'Poppings', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: white;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'COurier New', monospace;
}
