.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    width: 40%;
}

.product{
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
    
}

.product img{
    width: 100px;
}