nav {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    justify-content: flex-start;
    gap: 2vh;
    width: 100vw;
    height: 30vh;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: #302782;
    position: relative; */
} 

/* .navlogo {
    margin-top: 2vh;
}

.navlogo img {
    width: 40vh; 
}

nav ul {
    position: absolute;
    bottom: 0;
    right: 4vh;
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 2vh;
}

.navLink {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4vh;
    min-width: 150px;
    overflow-y: hidden;
}

.navLink:hover {
    cursor: pointer;
}

.navLink:hover div {
    -webkit-transform: translateY(0);
    -ms-transform:     translateY(0);
    transform:         translateY(0);
}

.navLink a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0 1vh;
}

.navLink div {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #F1B42C;

    -webkit-transform: translateY(10vh);
    -ms-transform:     translateY(10vh);
    transform:         translateY(10vh);

    transition: transform 0.2s ease-in-out;
}

.navLink p {
    position: absolute;
    z-index: 2;
    text-indent: 0;
    padding: 0;
    color: #FFFCFC;
}  */

.navlogo img{
    width: 120px; 
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline-block;   
    padding: 10px;
}

nav ul li:hover{
    text-decoration: underline;
    text-decoration-color: #ffff;
    text-decoration-thickness: 1px;
    text-underline-offset: 8px;
    transition: 0.3s;
}