.page{
    word-wrap: break-word;
    margin: 0 40px 0 40px;
    display: flex;
    flex-direction: column;

}

.titulo {
    display: flex;
    width: 100vw;
    align-items: start;
    justify-content: space-around;
}

.texto {
    display: flex;
    width: 1000vw;
    align-items: start;
    justify-content: space-around;
    gap: 2vh;
}