nav{
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    background-color:#302782;
    
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding: 16px;
}

.navlogo img{
    width: 120px; 
}

nav ul{
list-style: none;

}
nav ul li{
 display: inline-block;   
 padding: 10px;
}

nav ul li:hover{
    text-decoration: underline;
    text-decoration-color: #ffff;
    text-decoration-thickness: 1px;
    text-underline-offset: 8px;
    transition: 0.3s;
}