/* COmentário */
.page{
    display: flex;
    align-items: flex-start;
}

.filters{
    padding: 20px;
    width: 240px;
}

.filters p{
    font-weight: bolder;
}

.filterInput{
    display: flex;
    margin-bottom: 20px;
}

.filterInput button{
    background-color: #fbb035;
    border: none;
    padding: 10px;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}

.filterInput input{
    padding: 10px; 
    border: none;
    background-color: #d8d8d8;
    border-radius: 5px 0px 0px 5px;
}

.filters ul{
    list-style-type: none;
    padding-inline-start: 0;
}

.filters ul li{
    margin: 10px 0px;
    display:  flex;
    justify-content: space-between;
    width: 100%;
}

.filters ul li:hover{
    color: #fbb035;
}

.products{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}